html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Grandstander', cursive;
	color: white;
	text-align: center;
	background-color: #1D3E5A;
	background-image: url("christmasbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#title {
	margin-top: 150px;
	font-size: 40px;
	line-height: 150%;
	text-shadow: 4px 4px 2px black;
}

#countdown {
	color: #BB2528;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 3px 3px black;
	font-size: 90px;

	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: 125px;
	grid-row-gap: 10px;
}

.timeunit {
	color: #F8B229;
	font-size: 45px;
}

@media (max-width: 700px) { 

  	body{
  		background-position: bottom left;
  	}

  	#title {
  		margin-top: 100px;
  		font-size: 30px;
  	}

  	#countdown {
  		grid-template-areas: 
  		"daysleft hoursleft"
  		"dayslable hourslable"
  		"minsleft secsleft"
  		"minslable secslable";
  		grid-template-columns: auto auto;
  		grid-auto-rows: 90px;
		grid-row-gap: 20px;
		grid-column-gap: 30px;
  		width: 50%;
  		font-size: 80px;
  	}

  	#days {
  		grid-area: daysleft;
  		width: auto;
  	}

  	#hours {
  		grid-area: hoursleft;
  		width: auto;
  	}

  	#dayslbl {
  		grid-area: dayslable;
  	}

  	#hourslbl {
  		grid-area: hourslable;
  	}

  	#minutes {
  		grid-area: minsleft;
  	}

  	#seconds {
  		grid-area: secsleft;
  	}

  	#minslbl {
  		grid-area: minslable;
  	}

  	#secslbl {
  		grid-area: secslable;
  	}

  	.timeunit {
		font-size: 35px;
	}

}

@media (max-width: 400px) { 
	#countdown {
		width: 90%;
	}
}
