html, body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: #1D3E5A;
	background-image: url("christmasbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#title {
	margin-top: 150px;
	color: white;
	font-size: 40px;
	font-family: 'Grandstander', cursive;
	text-shadow: 4px 4px 2px black;
}

#countdown {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-family: 'Grandstander', cursive;
	text-shadow: 2px 2px black;
	font-size: 60px;

	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: auto;
	padding: 10px;
}

.timeunit {
	font-size: 45px;
}

@media (max-width: 700px) { 
  	body{
  		background-position: bottom left;
  	}
}
