html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Grandstander', cursive;
	color: white;
	text-align: center;
	background-color: #1D3E5A;
	background-image: url("christmasbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#title {
	margin-top: 150px;
	font-size: 40px;
	line-height: 150%;
	text-shadow: 4px 4px 2px black;
}

#countdown {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 3px 3px black;
	font-size: 80px;

	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: auto;
	grid-row-gap: 0px;
}

.timeunit {
	font-size: 45px;
}

@media (max-width: 700px) { 

  	body{
  		background-position: bottom left;
  	}

  	#title {
  		margin-top: 100px;
  		font-size: 30px;
  	}

  	#countdown {
  		width: 90%;
  		font-size: 60px;
  	}

  	.timeunit {
		font-size: 35px;
	}

}
